<div class="about">

  <button type="button" class="btn btn-default" name="button"><a href="/#/">HOME</a></button>
  <button type="button" class="btn btn-default" name="button"><a href="/#/work">PORTFOLIO</a></button>
  <button type="button" class="btn btn-default" name="button"><a href="/#/resume">RESUME</a></button>
  <button type="button" class="btn btn-default" name="button"><a href="/#/contact">CONTACT</a></button>

</div>
  <!-- <img src="./images/waves.jpeg" alt="" /> -->
<div class="backgroundImage">

</div>

<div class="meBox">
  <h1>enthusastic, creative, motivated</h1>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  </p>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim id est laborum.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  </p>
</div>

<div class="skillsBox">
  <h1>SKILLS</h1>
  <!-- <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  </p> -->
</div>

<!-- Thank you http://codepen.io/zuraizm/pen/vGDHl for helping me with the slider! -->
<div id="slider">
  <a href="javascript://" class="control_next">></a>
  <a href="javascript://" class="control_prev"><</a>
  <ul>
    <li><img src="../../images/HTML_Logo.png" alt="" /><p>HTML</p></li>
    <li><img class="why" src="../../images/css3.png" alt="" /><p>CSS</p></li>
    <li><img src="../../images/sass-logo-new.png" alt="" /><p>Sass</p></li>
    <li><img src="../../images/boot.png" alt="" /><p>Bootstrap</p></li>
    <li><img src="../../images/ionic-logo-blog.png" alt="" /><p>Ionic</p></li>
    <li><img src="../../images/ang.png" alt="" /><p>Angular JS</p></li>
    <li><img src="../../images/backbone.png" alt="" /><p>Backbone JS</p></li>
    <li><img src="../../images/underscore.png" alt="" /><p>Underscore JS</p></li>
    <li><img src="../../images/jquery.png" alt="" /><p>jQuery</p></li>
    <li><img src="../../images/npm.png" alt="" /><p>NPM</p></li>
    <li><img src="../../images/photoshop.png" alt="" /><p>Adobe Photoshop CS6</p></li>
    <li><img src="../../images/illustrator.png" alt="" /><p>Adobe Illustrator CS6</p></li>
    <li><img src="../../images/indesign.png" alt="" /><p>Adobe InDesign CS6</p></li>
  </ul>
</div>

<div class="footerBox">

  <a target="_blank" href="mailto:kathleenehouse@gmail.com"><img src="../../images/mail-icon.png" alt="" /></a>
  <a target="_blank" href="https://github.com/kehouse"><img src="../../images/git-icon.png" alt="" /></a>
  <a target="_blank" href="https://www.linkedin.com/in/kathleenhouse"><img src="../../images/link-icon.png" alt="" /></a>

</div>
