<div class="main">

  <button type="button" class="btn-home btn-default" name="button"><a href="/#/about">ABOUT</a></button>
  <button type="button" class="btn-home btn-default" name="button"><a href="/#/work">PORTFOLIO</a></button>
  <button type="button" class="btn-home btn-default" name="button"><a href="/#/resume">RESUME</a></button>
  <button type="button" class="btn-home btn-default" name="button"><a href="/#/contact">CONTACT</a></button>

</div>

<div class="kathleenImg">

</div>

<div class="footerBoxMain">

  <a target="_blank" href="mailto:kathleenehouse@gmail.com"><img src="../../images/mail-icon.png" alt="" /></a>
  <a target="_blank" href="https://github.com/kehouse"><img src="../../images/git-icon.png" alt="" /></a>
  <a target="_blank" href="https://www.linkedin.com/in/kathleenhouse"><img src="../../images/link-icon.png" alt="" /></a>

</div>
