<div class="resume">

  <a href="/#/"><button type="button" class="btn btn-default" name="button">HOME</button></a>
  <a href="/#/about"><button type="button" class="btn btn-default" name="button">ABOUT</button></a>
  <a href="/#/work"><button type="button" class="btn btn-default" name="button">PORTFOLIO</button></a>
  <a href="/#/contact"><button type="button" class="btn btn-default" name="button">CONTACT</button></a>

</div>

<div class="resumeImg">
  <a href="../../images/KathleenHouseResume.pdf" download="KathleenHouseResume.pdf"><img src="../../images/KathleenHouseResume.png"/></a>
</div>

<div class="download">
  <a href="../../images/KathleenHouseResume.pdf" download="KathleenHouseResume.pdf">
    <button class="btn-resume btn-default"><span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span><p>PDF Version</p></button>
  </a>
</div>

<div class="rFooterBox">

  <a target="_blank" href="mailto:kathleenehouse@gmail.com"><img src="../../images/mail-icon.png" alt="" /></a>
  <a target="_blank" href="https://github.com/kehouse"><img src="../../images/git-icon.png" alt="" /></a>
  <a target="_blank" href="https://www.linkedin.com/in/kathleenhouse"><img src="../../images/link-icon.png" alt="" /></a>

</div>
