<div class="resume">

  <button type="button" class="btn btn-default" name="button"><a href="/#/">HOME</a></button>
  <button type="button" class="btn btn-default" name="button"><a href="/#/about">ABOUT</a></button>
  <button type="button" class="btn btn-default" name="button"><a href="/#/work">PORTFOLIO</a></button>
  <button type="button" class="btn btn-default" name="button"><a href="/#/contact">CONTACT</a></button>

</div>

<div class="resumeImg">
  <a href="../../images/Resume.pdf" download="Resume.pdf"><img src="../../images/kathleenResume.png"/></a>
</div>

<div class="download">
  <a href="../../images/Resume.pdf" download="Resume.pdf">
    <button class="btn-resume btn-default"><span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span><p>PDF Version</p></button>
  </a>
</div>

<div class="rFooterBox">

  <a target="_blank" href="mailto:kathleenehouse@gmail.com"><img src="../../images/mail-icon.png" alt="" /></a>
  <a target="_blank" href="https://github.com/kehouse"><img src="../../images/git-icon.png" alt="" /></a>
  <a target="_blank" href="https://www.linkedin.com/in/kathleenhouse"><img src="../../images/link-icon.png" alt="" /></a>

</div>
