<div class="work">

  <a href="/#/"><button type="button" class="btn btn-default" name="button">HOME</button></a>
  <a href="/#/about"><button type="button" class="btn btn-default" name="button">ABOUT</button></a>
  <a href="/#/resume"><button type="button" class="btn btn-default" name="button">RESUME</button></a>
  <a href="/#/contact"><button type="button" class="btn btn-default" name="button">CONTACT</button></a>

</div>

  <!-- <a target="_blank" href="/jserviceHw19"><button type="button" class="btn btn-default" name="button">Jeopardy</button></a>
  <a target="_blank" href="/sk8rSiteHw4"><button type="button" class="btn btn-default" name="button">P Perolta</button></a>
  <a target="_blank" href="http://kehouse.github.io/chuckwagon/public/myApp/www"><button type="button" class="btn btn-default" name="button">Chuckwagon</button></a> -->

  <a target="_blank" href="https://chuckwagonapp.github.io/chuckwagon/public/myApp/www/#/tab/home"><img class="chuckwagonImg" src="../../images/screenShotChuck.png" alt="" /></a>

<div class="chuckwagon">
  <a target="_blank" href="https://chuckwagonapp.github.io/chuckwagon/public/myApp/www/#/tab/home"><h4>ChuckWagon</h4></a>
  <p>
    this was my group's final project during our time at the iron yard, called chuckwagon. this is a mobile first web application that allows users to locate nearby food trucks in charleston, sc via geolocation or address search. Here is the <a href="https://chuckwagonblog.wordpress.com/">blog</a> we kept up with during our time building the ionic app - <a href="https://chuckwagonblog.wordpress.com/">chuckwagonblog.wordpress.com.</a>
  </p>
  <p>
    <b>tech:</b> ionic, google maps api, cordova, gulp
  </p>
  <p>
    <b>links:</b> <a target="_blank" href="https://chuckwagonapp.github.io/chuckwagon/public/myApp/www/#/tab/home">demo,</a> <a href="https://github.com/kehouse/chuckwagon">github</a>
  </p>
</div>

  <a target="_blank" href="/jserviceHw19"><img class="jeopardyImg" src="../../images/screenShotJeopardy.png" alt="" /></a>

<div class="jeopardy">
  <a target="_blank" href="/jserviceHw19"><h4>Jeopardy</h4></a>
  <p>
    here i created a jeopardy game using angular js and a <a href="http://jservice.io/">jeopardy question bank api.</a> it is set up with a landing page view with six categories, that randamize when you refresh the page to start a new game. each category contains points that calculate to keep score.
  </p>
  <p>
    <b>tech:</b> html5, css3, angular js, jservice api
  </p>
  <p>
    <b>links:</b> <a target="_blank" href="/jserviceHw19">demo,</a> <a target="_blank" href="https://github.com/kehouse/jserviceHw19">github</a>
  </p>
</div>

<a target="_blank" href="/sk8rSiteHw4"><img class="skateImg" src="../../images/screenShotSkate.png" alt="" /></a>

<div class="skate">
  <a target="_blank" href="/sk8rSiteHw4"><h4>Skate</h4></a>
  <p>
    as a front-end developer i will need to convert a wireframe into a fully functioning website at some point. here i took a mockup image and turned it into a web page using css techniques.
  </p>
  <p>
    <b>tech:</b> html5, css3, sass
  </p>
  <p>
    <b>links:</b> <a target="_blank" href="/sk8rSiteHw4">demo,</a> <a target="_blank" href="https://github.com/kehouse/sk8rSiteHw4">github</a>
  </p>
</div>

<div class="footerBox">

  <a target="_blank" href="mailto:kathleenehouse@gmail.com"><img src="../../images/mail-icon.png" alt="" /></a>
  <a target="_blank" href="https://github.com/kehouse"><img src="../../images/git-icon.png" alt="" /></a>
  <a target="_blank" href="https://www.linkedin.com/in/kathleenhouse"><img src="../../images/link-icon.png" alt="" /></a>

</div>
