<div class="work">

  <button type="button" class="btn btn-default" name="button"><a href="/#/">HOME</a></button>
  <button type="button" class="btn btn-default" name="button"><a href="/#/about">PORTFOLIO</a></button>
  <button type="button" class="btn btn-default" name="button"><a href="/#/resume">RESUME</a></button>
  <button type="button" class="btn btn-default" name="button"><a href="/#/contact">CONTACT</a></button>

</div>

  <!-- <a target="_blank" href="/jserviceHw19"><button type="button" class="btn btn-default" name="button">Jeopardy</button></a>
  <a target="_blank" href="/sk8rSiteHw4"><button type="button" class="btn btn-default" name="button">P Perolta</button></a>
  <a target="_blank" href="http://kehouse.github.io/chuckwagon/public/myApp/www"><button type="button" class="btn btn-default" name="button">Chuckwagon</button></a> -->

  <a target="_blank" href="https://kehouse.github.io/chuckwagon/public/myApp/www"><img class="chuckwagonImg" src="../../images/screenShotChuck.png" alt="" /></a>

<div class="chuckwagon">
  <a target="_blank" href="https://kehouse.github.io/chuckwagon/public/myApp/www"><h4>ChuckWagon</h4></a>
  <p>
    personal project i created for people struggling with vocalizing their feelings. basic premise of the app is to type however you're feeling in that moment and pop your feelings away. i built the back-end using ruby on rails and used materialize, paperjs and plain jquery for the front-end of the site.
  </p>
  <p>
    tech used: ruby on rails, heroku, paperjs, sidekiq + cron, materialize
  </p>
  <p>
    links: demo github
  </p>
</div>

  <a target="_blank" href="/jserviceHw19"><img class="jeopardyImg" src="../../images/screenShotJeopardy.png" alt="" /></a>

<div class="jeopardy">
  <a target="_blank" href="/jserviceHw19"><h4>Jeopardy</h4></a>
  <p>
    personal project i created for people struggling with vocalizing their feelings. basic premise of the app is to type however you're feeling in that moment and pop your feelings away. i built the back-end using ruby on rails and used materialize, paperjs and plain jquery for the front-end of the site.
  </p>
  <p>
    tech used: ruby on rails, heroku, paperjs, sidekiq + cron, materialize
  </p>
  <p>
    links: demo github
  </p>
</div>

<a target="_blank" href="/sk8rSiteHw4"><img class="skateImg" src="../../images/screenShotSkate.png" alt="" /></a>

<div class="skate">
  <a target="_blank" href="/sk8rSiteHw4"><h4>Skate</h4></a>
  <p>
    personal project i created for people struggling with vocalizing their feelings. basic premise of the app is to type however you're feeling in that moment and pop your feelings away. i built the back-end using ruby on rails and used materialize, paperjs and plain jquery for the front-end of the site.
  </p>
  <p>
    tech used: ruby on rails, heroku, paperjs, sidekiq + cron, materialize
  </p>
  <p>
    links: demo github
  </p>
</div>

<div class="footerBox">

  <a target="_blank" href="mailto:kathleenehouse@gmail.com"><img src="../../images/mail-icon.png" alt="" /></a>
  <a target="_blank" href="https://github.com/kehouse"><img src="../../images/git-icon.png" alt="" /></a>
  <a target="_blank" href="https://www.linkedin.com/in/kathleenhouse"><img src="../../images/link-icon.png" alt="" /></a>

</div>
